[Desktop Entry]
Name=Nebula Plasma
Comment=Futuristic creator-gamer Plasma theme
X-KDE-PluginInfo-Name=nebula-plasma
X-KDE-PluginInfo-Author=NebulaOS Project
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Plasma Theme
